@model List<ToDoList.Models.Note>

<script src="~/scripts/editing-notes/edit-note.js"></script>
<div id="partial_view">
    @{
        //If we have at least one note
        if (Model.Count > 0)
        {
            <h3>Notes</h3>
            <table border="0" cellspacing="5" class="~/Content/beta" id="table_notes">
                <tr>
                    <td><p>№</p></td>
                    <td><p>Note</p></td>
                    <td><p>Date</p></td>
                    <td><p></p></td>
                </tr>
                @{
                    int n = 1;
                    for(int j = Model.Count-1; j >= 0; j--)
                    {
                        <tr>
                            <td><p>@n</p></td>
                            <td><div contenteditable><p>@Model[j].Data</p></div></td>
                            <td><p>@Model[j].PostDate</p></td>
                            <td> <button type="button" style="height:100%" class="btnRemoveNote">Delete note</button> </td>
                        </tr>
                        n++;
                    }
                }
            </table>
         }
    }
</div>


